@font-face{
	font-family: Myfont;
	src: url("../Fonts/i_pixel_u/I-pixel-u.ttf");
}

body {
	margin: 0;
	overflow: hidden;
	background-color: #1F0052;
	align-items: center;
	justify-content: center;
	background-image: url('Credits.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	margin-top: 23cap;
  }
  
  button {
	font-family: Myfont;
	display: block;
	margin: 0 auto;
	background-size: 180px;
	position: relative;
	height: 40px;
	width: 200px;
	border: none;
	outline: none;
	background: #00000000;
	color: aquamarine;
	cursor: pointer;
	font-size: 18px;
	border-radius: 0px;
	opacity: 0; /* Initially hide the buttons */
	transition: opacity 0.5s ease-in-out; /* Add transition for smooth appearance */
    justify-content: space-between;
	
	letter-spacing: 2px;
	transition: 0.5s;
	
}
button {
	animation: buttonAppear 0.3s ease-in-out forwards;
	animation-delay: 1s; 
  }
  
  @keyframes buttonAppear {
	from { opacity: 0; }
	to { opacity: 1; }
  }
  button::after 
  {
	content: "";
	top: -2px;
	left: -2px;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 0px;
  }
  button::before{
	content: "";
	background: linear-gradient(
	  90deg,
	  #0015ff, #76a6ba, #06649e91, #00d9ff7d,
	  #3300ff, #aa00ff, #FF00C8,  #0015ff
	);
	position: absolute;
	top: -2px;
	left: -2px;
	z-index: -1;
	background-size: 600%;
	width: calc(100% + 4px);
	height:  calc(100% + 4px);
	filter: brightness(-400);
	animation: glowing 20s linear infinite;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
  }
  @keyframes glowing {
	0% {background-position: 0 0;}
	50% {background-position: 400% 0;}
	100% {background-position: 0 0;}
  }
 button:hover::before {
	opacity: 1;
  }
  button:hover{
	color:#93ABFF;
	font-weight: bold;
	transform: scale(1.1);
	transition: font weight 0.3s,transform 0.4s ease;
	 filter: drop-shadow(60px);

  }
  
 button:active:after {
	background: transparent;
  }
  
 button:active {
	color: #000;
	font-weight: bold;
  }
.Back{
    filter: hue-rotate(240deg);
}
